
/**
* 赛程更新下 的  每日更新赛程模块
* author: 高青
* date: 2013-12-12
* version: 0.0.0.1
*/

/* 条件区域 div 样式*/
#conditionSectionIDMonth{
	width: 80%;
	height: 40px;
	margin: 20px 50px 10px;
}

/*数据区域 div 样式*/
#dataSectionIDMonth{
	width:95%;
	height:460px;
	margin: auto;
}

/*数据区域的 事件 div 样式*/
#dataSection_eventIDMonth{
	width:80%;
	height: 28px;
	padding: 10px 20px 5px 15px;
	vertical-align: center;
}

/*内部表格的样式*/
#dataTableIDMonth{
	width: 100%;
}

/** 比赛基本信息模块：Start */

/** 内部内容部分 */
#innerContentMonth{
	width: 100%;
	height:80%;
}

/** 内部基本信息部分  */
#innerBasicInfoMonth{
	box-shadow: 5px 5px 7px #888888; 
	margin: 20px auto;
	width: 90%;
	height: 200px;
	background-color: #FAFBFF;
	border: 0px solid #EBEBEB;
	
}

/** 球队领袖部分 */
#innerPlayerLeaderMonth{
	box-shadow: 5px 5px 7px #888888; 
	background-color: #FAFBFF;
	margin: 20px auto;
	width: 90%;
	height: 200px;
	border: 0px solid #EBEBEB;
}

/*----------------------*/  
      
    .innerBasicInfoTableMonth td, .innerBasicInfoTableMonth th {  
    padding: 10px;  
    border-bottom: 1px solid #f2f2f2;  
    }  
      
    .innerBasicInfoTableMonth tbody tr:nth-child(even) {  
    background: #f5f5f5;  
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    }  
      
    .innerBasicInfoTableMonth th {  
    text-align: left;  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
    border-bottom: 1px solid #ccc;  
    background-color: #eee;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));  
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);  
    background-image: -moz-linear-gradient(top, #f5f5f5, #eee);  
    background-image: -ms-linear-gradient(top, #f5f5f5, #eee);  
    background-image: -o-linear-gradient(top, #f5f5f5, #eee);  
    background-image: linear-gradient(top, #f5f5f5, #eee);  
    }  
      
    .innerBasicInfoTableMonth th:first-child {  
    -moz-border-radius: 6px 0 0 0;  
    -webkit-border-radius: 6px 0 0 0;  
    border-radius: 6px 0 0 0;  
    }  
      
    .innerBasicInfoTableMonth th:last-child {  
    -moz-border-radius: 0 6px 0 0;  
    -webkit-border-radius: 0 6px 0 0;  
    border-radius: 0 6px 0 0;  
    }  
      
    .innerBasicInfoTableMonth th:only-child{  
    -moz-border-radius: 6px 6px 0 0;  
    -webkit-border-radius: 6px 6px 0 0;  
    border-radius: 6px 6px 0 0;  
    }  
      
    .innerBasicInfoTableMonth tfoot td {  
    border-bottom: 0;  
    border-top: 1px solid #fff;  
    background-color: #f1f1f1;  
    }  
      
    .innerBasicInfoTableMonth tfoot td:first-child {  
    -moz-border-radius: 0 0 0 6px;  
    -webkit-border-radius: 0 0 0 6px;  
    border-radius: 0 0 0 6px;  
    }  
      
    .innerBasicInfoTableMonth tfoot td:last-child {  
    -moz-border-radius: 0 0 6px 0;  
    -webkit-border-radius: 0 0 6px 0;  
    border-radius: 0 0 6px 0;  
    }  
      
    .innerBasicInfoTableMonth tfoot td:only-child{  
    -moz-border-radius: 0 0 6px 6px;  
    -webkit-border-radius: 0 0 6px 6px  
    border-radius: 0 0 6px 6px  
    }  
    
    /** 球队领袖数据部分 */
	.innerPlayerLeaderTableMonth td, .innerPlayerLeaderTableMonth th {  
    padding: 10px;  
    border-bottom: 1px solid #f2f2f2;  
    }  
      
    .innerPlayerLeaderTableMonth tbody tr:nth-child(even) {  
    background: #f5f5f5;  
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    }  
      
    .innerPlayerLeaderTableMonth th {  
    text-align: left;  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
    border-bottom: 1px solid #ccc;  
    background-color: #eee;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));  
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);  
    background-image: -moz-linear-gradient(top, #f5f5f5, #eee);  
    background-image: -ms-linear-gradient(top, #f5f5f5, #eee);  
    background-image: -o-linear-gradient(top, #f5f5f5, #eee);  
    background-image: linear-gradient(top, #f5f5f5, #eee);  
    }  
      
    .innerPlayerLeaderTableMonth th:first-child {  
    -moz-border-radius: 6px 0 0 0;  
    -webkit-border-radius: 6px 0 0 0;  
    border-radius: 6px 0 0 0;  
    }  
      
    .innerPlayerLeaderTableMonth th:last-child {  
    -moz-border-radius: 0 6px 0 0;  
    -webkit-border-radius: 0 6px 0 0;  
    border-radius: 0 6px 0 0;  
    }  
      
    .innerPlayerLeaderTableMonth th:only-child{  
    -moz-border-radius: 6px 6px 0 0;  
    -webkit-border-radius: 6px 6px 0 0;  
    border-radius: 6px 6px 0 0;  
    }  
      
    .innerPlayerLeaderTableMonth tfoot td {  
    border-bottom: 0;  
    border-top: 1px solid #fff;  
    background-color: #f1f1f1;  
    }  
      
    .innerPlayerLeaderTableMonth tfoot td:first-child {  
    -moz-border-radius: 0 0 0 6px;  
    -webkit-border-radius: 0 0 0 6px;  
    border-radius: 0 0 0 6px;  
    }  
      
    .innerPlayerLeaderTableMonth tfoot td:last-child {  
    -moz-border-radius: 0 0 6px 0;  
    -webkit-border-radius: 0 0 6px 0;  
    border-radius: 0 0 6px 0;  
    }  
      
    .innerPlayerLeaderTableMonth tfoot td:only-child{  
    -moz-border-radius: 0 0 6px 6px;  
    -webkit-border-radius: 0 0 6px 6px  
    border-radius: 0 0 6px 6px  
    }  

/** 比赛基本信息模块：End */

/********************************** 球员分析模块 start **********************************/
	/**###################本场比赛球员信息模块 start ##########################*/
      
    .playerPersonalInfo_tableMonth {  
    *border-collapse: collapse; /* IE7 and lower */  
    border-spacing: 0;  
    width: 100%;  
    
    border: solid #ccc 1px;  
    -moz-border-radius: 6px;  
    -webkit-border-radius: 6px;  
    border-radius: 6px;  
    -webkit-box-shadow: 1px 2px 2px #888888;  
    -moz-box-shadow: 1px 2px 2px #888888;  
    box-shadow: 1px 2px 2px #888888;  
    }  
      
    .playerPersonalInfo_tableMonth tr:hover {  
    background: #fbf8e9;  
    -o-transition: all 0.1s ease-in-out;  
    -webkit-transition: all 0.1s ease-in-out;  
    -moz-transition: all 0.1s ease-in-out;  
    -ms-transition: all 0.1s ease-in-out;  
    transition: all 0.1s ease-in-out;  
    }  
      
    .playerPersonalInfo_tableMonth td, .playerPersonalInfo_tableMonth th {  
    border-left: 1px solid #ccc;  
    border-top: 1px solid #ccc;  
    padding: 6px;  
    }  
      
    .playerPersonalInfo_tableMonth th {  
    background-color: #dce9f9;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    border-top: none;  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
    }  
      
    .playerPersonalInfo_tableMonth td:first-child, .playerPersonalInfo_tableMonth th:first-child {  
    border-left: none;  
    }  
      
    .playerPersonalInfo_tableMonth th:first-child {  
    -moz-border-radius: 6px 0 0 0;  
    -webkit-border-radius: 6px 0 0 0;  
    border-radius: 6px 0 0 0;  
    }  
      
    .playerPersonalInfo_tableMonth th:last-child {  
    -moz-border-radius: 0 6px 0 0;  
    -webkit-border-radius: 0 6px 0 0;  
    border-radius: 0 6px 0 0;  
    }  
      
    .playerPersonalInfo_tableMonth th:only-child{  
    -moz-border-radius: 6px 6px 0 0;  
    -webkit-border-radius: 6px 6px 0 0;  
    border-radius: 6px 6px 0 0;  
    }  
      
    .playerPersonalInfo_tableMonth tr:last-child td:first-child {  
    -moz-border-radius: 0 0 0 6px;  
    -webkit-border-radius: 0 0 0 6px;  
    border-radius: 0 0 0 6px;  
    }  
      
    .playerPersonalInfo_tableMonth tr:last-child td:last-child {  
    -moz-border-radius: 0 0 6px 0;  
    -webkit-border-radius: 0 0 6px 0;  
    border-radius: 0 0 6px 0;  
    } 
	/**###################本场比赛球员信息模块 end ##########################*/
	
/********************************** 球员分析模块 end **********************************/


/********************************** 数据分析模块 start **********************************/

	/**-------------------- 比赛球员的数据统计 start --------------------*/
		/**比赛球员的数据统计的外层 div 样式*/
		#dataStatistics_playerData_outerMonth{
			display: none;
		}
		
	    .playerData_tableMonth {  
	    *border-collapse: collapse; /* IE7 and lower */  
	    border-spacing: 0;  
	    width: 100%;  
	    
	    border: solid #ccc 1px;  
	    -moz-border-radius: 6px;  
	    -webkit-border-radius: 6px;  
	    border-radius: 6px;  
	    -webkit-box-shadow: 1px 2px 2px #888888;  
	    -moz-box-shadow: 1px 2px 2px #888888;  
	    box-shadow: 1px 2px 2px #888888;  
	    }  
	      
	    .playerData_tableMonth tr:hover {  
	    background: #fbf8e9;  
	    -o-transition: all 0.1s ease-in-out;  
	    -webkit-transition: all 0.1s ease-in-out;  
	    -moz-transition: all 0.1s ease-in-out;  
	    -ms-transition: all 0.1s ease-in-out;  
	    transition: all 0.1s ease-in-out;  
	    }  
	      
	    .playerData_tableMonth td, .playerData_tableMonth th {  
	    border-left: 1px solid #ccc;  
	    border-top: 1px solid #ccc;  
	    padding: 6px;  
	    }  
	      
	    .playerData_tableMonth th {  
	    background-color: #dce9f9;  
	    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
	    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
	    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
	    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
	    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
	    border-top: none;  
	    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
	    }  
	      
	    .playerData_tableMonth td:first-child, .playerData_tableMonth th:first-child {  
	    border-left: none;  
	    }  
	      
	    .playerData_tableMonth th:first-child {  
	    -moz-border-radius: 6px 0 0 0;  
	    -webkit-border-radius: 6px 0 0 0;  
	    border-radius: 6px 0 0 0;  
	    }  
	      
	    .playerData_tableMonth th:last-child {  
	    -moz-border-radius: 0 6px 0 0;  
	    -webkit-border-radius: 0 6px 0 0;  
	    border-radius: 0 6px 0 0;  
	    }  
	      
	    .playerData_tableMonth th:only-child{  
	    -moz-border-radius: 6px 6px 0 0;  
	    -webkit-border-radius: 6px 6px 0 0;  
	    border-radius: 6px 6px 0 0;  
	    }  
	      
	    .playerData_tableMonth tr:last-child td:first-child {  
	    -moz-border-radius: 0 0 0 6px;  
	    -webkit-border-radius: 0 0 0 6px;  
	    border-radius: 0 0 0 6px;  
	    }  
	      
	    .playerData_tableMonth tr:last-child td:last-child {  
	    -moz-border-radius: 0 0 6px 0;  
	    -webkit-border-radius: 0 0 6px 0;  
	    border-radius: 0 0 6px 0;  
	    } 
	/**-------------------- 比赛球员的数据统计 end --------------------*/
	
	
	/**-------------------- 比赛相关的数据统计 start --------------------*/
	/**外层 div 的样式*/
	#dataStatistics_corelativeData_outerMonth{
		display: none;
	}
	
	 .corelativeData_tableMonth {  
    *border-collapse: collapse; /* IE7 and lower */  
    border-spacing: 0;  
    width: 100%;  
    
    border: solid #ccc 1px;  
    -moz-border-radius: 6px;  
    -webkit-border-radius: 6px;  
    border-radius: 6px;  
    -webkit-box-shadow: 1px 2px 2px #888888;  
    -moz-box-shadow: 1px 2px 2px #888888;  
    box-shadow: 1px 2px 2px #888888;  
    }  
      
    .corelativeData_tableMonth tr:hover {  
    background: #fbf8e9;  
    -o-transition: all 0.1s ease-in-out;  
    -webkit-transition: all 0.1s ease-in-out;  
    -moz-transition: all 0.1s ease-in-out;  
    -ms-transition: all 0.1s ease-in-out;  
    transition: all 0.1s ease-in-out;  
    }  
      
    .corelativeData_tableMonth td, .corelativeData_tableMonth th {  
    border-left: 1px solid #ccc;  
    border-top: 1px solid #ccc;  
    padding: 6px;  
    }  
      
    .corelativeData_tableMonth th {  
    background-color: #dce9f9;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    border-top: none;  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
    }  
      
    .corelativeData_tableMonth td:first-child, .corelativeData_tableMonth th:first-child {  
    border-left: none;  
    }  
      
    .corelativeData_tableMonth th:first-child {  
    -moz-border-radius: 6px 0 0 0;  
    -webkit-border-radius: 6px 0 0 0;  
    border-radius: 6px 0 0 0;  
    }  
      
    .corelativeData_tableMonth th:last-child {  
    -moz-border-radius: 0 6px 0 0;  
    -webkit-border-radius: 0 6px 0 0;  
    border-radius: 0 6px 0 0;  
    }  
      
    .corelativeData_tableMonth th:only-child{  
    -moz-border-radius: 6px 6px 0 0;  
    -webkit-border-radius: 6px 6px 0 0;  
    border-radius: 6px 6px 0 0;  
    }  
      
    .corelativeData_tableMonth tr:last-child td:first-child {  
    -moz-border-radius: 0 0 0 6px;  
    -webkit-border-radius: 0 0 0 6px;  
    border-radius: 0 0 0 6px;  
    }  
      
    .corelativeData_tableMonth tr:last-child td:last-child {  
    -moz-border-radius: 0 0 6px 0;  
    -webkit-border-radius: 0 0 6px 0;  
    border-radius: 0 0 6px 0;  
    } 
	/**-------------------- 比赛相关的数据统计 end --------------------*/
	
	
	/**-------------------- 比赛球队汇总数据 start --------------------*/
	/** 外层 div 样式 */
	#dataStatistics_teamGatherData_outerMonth{
		display: none;
	}
	
	.teamGatherData_tableMonth {  
    *border-collapse: collapse; /* IE7 and lower */  
    border-spacing: 0;  
    width: 100%;  
    
    border: solid #ccc 1px;  
    -moz-border-radius: 6px;  
    -webkit-border-radius: 6px;  
    border-radius: 6px;  
    -webkit-box-shadow: 1px 2px 2px #888888;  
    -moz-box-shadow: 1px 2px 2px #888888;  
    box-shadow: 1px 2px 2px #888888;  
    }  
      
    .teamGatherData_tableMonth tr:hover {  
    background: #fbf8e9;  
    -o-transition: all 0.1s ease-in-out;  
    -webkit-transition: all 0.1s ease-in-out;  
    -moz-transition: all 0.1s ease-in-out;  
    -ms-transition: all 0.1s ease-in-out;  
    transition: all 0.1s ease-in-out;  
    }  
      
    .teamGatherData_tableMonth td, .teamGatherData_tableMonth th {  
    border-left: 1px solid #ccc;  
    border-top: 1px solid #ccc;  
    padding: 6px;  
    }  
      
    .teamGatherData_tableMonth th {  
    background-color: #dce9f9;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    border-top: none;  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
    }  
      
    .teamGatherData_tableMonth td:first-child, .teamGatherData_tableMonth th:first-child {  
    border-left: none;  
    }  
      
    .teamGatherData_tableMonth th:first-child {  
    -moz-border-radius: 6px 0 0 0;  
    -webkit-border-radius: 6px 0 0 0;  
    border-radius: 6px 0 0 0;  
    }  
      
    .teamGatherData_tableMonth th:last-child {  
    -moz-border-radius: 0 6px 0 0;  
    -webkit-border-radius: 0 6px 0 0;  
    border-radius: 0 6px 0 0;  
    }  
      
    .teamGatherData_tableMonth th:only-child{  
    -moz-border-radius: 6px 6px 0 0;  
    -webkit-border-radius: 6px 6px 0 0;  
    border-radius: 6px 6px 0 0;  
    }  
      
    .teamGatherData_tableMonth tr:last-child td:first-child {  
    -moz-border-radius: 0 0 0 6px;  
    -webkit-border-radius: 0 0 0 6px;  
    border-radius: 0 0 0 6px;  
    }  
      
    .teamGatherData_tableMonth tr:last-child td:last-child {  
    -moz-border-radius: 0 0 6px 0;  
    -webkit-border-radius: 0 0 6px 0;  
    border-radius: 0 0 6px 0;  
    } 
	/**-------------------- 比赛球队汇总数据 end --------------------*/
	
/********************************** 数据分析模块 end **********************************/


/********************************** 比赛事件模块 start **********************************/

	/**-------------------- 比赛的相关事件 start --------------------*/
	/** 最外层的 div 样式 */
	#matchCorelativeEventMonth{
		display: none;
	}
	
	/** 外部 div 样式 */
	#matchCorelativeEventMonth{
		display: none;
	}
	
	/** 表格样式 */
	.matchCorelativeEventTableMonth {  
    *border-collapse: collapse; /* IE7 and lower */  
    border-spacing: 0;  
    width: 100%;  
    
    border: solid #ccc 1px;  
    -moz-border-radius: 6px;  
    -webkit-border-radius: 6px;  
    border-radius: 6px;  
    -webkit-box-shadow: 1px 2px 2px #888888;  
    -moz-box-shadow: 1px 2px 2px #888888;  
    box-shadow: 1px 2px 2px #888888;  
    }  
      
    .matchCorelativeEventTableMonth tr:hover {  
    background: #fbf8e9;  
    -o-transition: all 0.1s ease-in-out;  
    -webkit-transition: all 0.1s ease-in-out;  
    -moz-transition: all 0.1s ease-in-out;  
    -ms-transition: all 0.1s ease-in-out;  
    transition: all 0.1s ease-in-out;  
    }  
      
    .matchCorelativeEventTableMonth td, .matchCorelativeEventTableMonth th {  
    border-left: 1px solid #ccc;  
    border-top: 1px solid #ccc;  
    padding: 6px;  
    }  
      
    .matchCorelativeEventTableMonth th {  
    background-color: #dce9f9;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    border-top: none;  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
    }  
      
    .matchCorelativeEventTableMonth td:first-child, .matchCorelativeEventTableMonth th:first-child {  
    border-left: none;  
    }  
      
    .matchCorelativeEventTableMonth th:first-child {  
    -moz-border-radius: 6px 0 0 0;  
    -webkit-border-radius: 6px 0 0 0;  
    border-radius: 6px 0 0 0;  
    }  
      
    .matchCorelativeEventTableMonth th:last-child {  
    -moz-border-radius: 0 6px 0 0;  
    -webkit-border-radius: 0 6px 0 0;  
    border-radius: 0 6px 0 0;  
    }  
      
    .matchCorelativeEventTableMonth th:only-child{  
    -moz-border-radius: 6px 6px 0 0;  
    -webkit-border-radius: 6px 6px 0 0;  
    border-radius: 6px 6px 0 0;  
    }  
      
    .matchCorelativeEventTableMonth tr:last-child td:first-child {  
    -moz-border-radius: 0 0 0 6px;  
    -webkit-border-radius: 0 0 0 6px;  
    border-radius: 0 0 0 6px;  
    }  
      
    .matchCorelativeEventTableMonth tr:last-child td:last-child {  
    -moz-border-radius: 0 0 6px 0;  
    -webkit-border-radius: 0 0 6px 0;  
    border-radius: 0 0 6px 0;  
    } 	
	/**-------------------- 比赛的相关事件 end --------------------*/
	
	
	/**-------------------- 根据比赛的节数，获取相关事件 start --------------------*/
		#matchCorelativeEventByQuarterMonth{
			display: none;
		}
		/**** 条件样式区域 start ****/
		#matchCorelativeEventByQuarterCondMonth{
			width: 95%;
			height: 30px;
			margin: 10px 20px;
		}
		/**** 条件样式区域 end ****/
		
		/****数据显示样式区域 start ****/
		/** 外层 div 样式 */
		#matchCorelativeEventByQuarterDataMonth{
			width: 95%;
			margin: 1px 20px;
			display: none;
		}
		.matchCorelativeEventByQuarterTableMonth {  
	    *border-collapse: collapse; /* IE7 and lower */  
	    border-spacing: 0;  
	    width: 100%;  
	    
	    border: solid #ccc 1px;  
	    -moz-border-radius: 6px;  
	    -webkit-border-radius: 6px;  
	    border-radius: 6px;  
	    -webkit-box-shadow: 1px 2px 2px #888888;  
	    -moz-box-shadow: 1px 2px 2px #888888;  
	    box-shadow: 1px 2px 2px #888888;  
	    }  
	      
	    .matchCorelativeEventByQuarterTableMonth tr:hover {  
	    background: #fbf8e9;  
	    -o-transition: all 0.1s ease-in-out;  
	    -webkit-transition: all 0.1s ease-in-out;  
	    -moz-transition: all 0.1s ease-in-out;  
	    -ms-transition: all 0.1s ease-in-out;  
	    transition: all 0.1s ease-in-out;  
	    }  
	      
	    .matchCorelativeEventByQuarterTableMonth td, .matchCorelativeEventByQuarterTableMonth th {  
	    border-left: 1px solid #ccc;  
	    border-top: 1px solid #ccc;  
	    padding: 6px;  
	    }  
	      
	    .matchCorelativeEventByQuarterTableMonth th {  
	    background-color: #dce9f9;  
	    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
	    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
	    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
	    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
	    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
	    border-top: none;  
	    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
	    }  
	      
	    .matchCorelativeEventByQuarterTableMonth td:first-child, .matchCorelativeEventByQuarterTableMonth th:first-child {  
	    border-left: none;  
	    }  
	      
	    .matchCorelativeEventByQuarterTableMonth th:first-child {  
	    -moz-border-radius: 6px 0 0 0;  
	    -webkit-border-radius: 6px 0 0 0;  
	    border-radius: 6px 0 0 0;  
	    }  
	      
	    .matchCorelativeEventByQuarterTableMonth th:last-child {  
	    -moz-border-radius: 0 6px 0 0;  
	    -webkit-border-radius: 0 6px 0 0;  
	    border-radius: 0 6px 0 0;  
	    }  
	      
	    .matchCorelativeEventByQuarterTableMonth th:only-child{  
	    -moz-border-radius: 6px 6px 0 0;  
	    -webkit-border-radius: 6px 6px 0 0;  
	    border-radius: 6px 6px 0 0;  
	    }  
	      
	    .matchCorelativeEventByQuarterTableMonth tr:last-child td:first-child {  
	    -moz-border-radius: 0 0 0 6px;  
	    -webkit-border-radius: 0 0 0 6px;  
	    border-radius: 0 0 0 6px;  
	    }  
	      
	    .matchCorelativeEventByQuarterTableMonth tr:last-child td:last-child {  
	    -moz-border-radius: 0 0 6px 0;  
	    -webkit-border-radius: 0 0 6px 0;  
	    border-radius: 0 0 6px 0;  
	    } 			
		/****数据显示样式区域 end ****/
	/**-------------------- 根据比赛的节数，获取相关事件 end --------------------*/
	
	/**-------------------- 根据比赛的球队，获取相关事件 start --------------------*/
		/** 最外层的 div 样式 */
		#matchEventByTeamMonth{
			display: none;
		}
		
		/**----- 条件区域 样式 start ----- */
		#matchEventByTeamConMonth{
			width: 95%;
			height: 30px;
			margin: 10px 20px;
		}
		/**----- 条件区域 样式 end ----- */
		
		/**----- 数据区域 样式 start ----- */
		#matchEventByTeamDataMonth{
			width: 95%;
			margin: 1px 20px;
			display: none;
		}
		
		.matchEventByTeamTableMonth {  
	    *border-collapse: collapse; /* IE7 and lower */  
	    border-spacing: 0;  
	    width: 100%;  
	    
	    border: solid #ccc 1px;  
	    -moz-border-radius: 6px;  
	    -webkit-border-radius: 6px;  
	    border-radius: 6px;  
	    -webkit-box-shadow: 1px 2px 2px #888888;  
	    -moz-box-shadow: 1px 2px 2px #888888;  
	    box-shadow: 1px 2px 2px #888888;  
	    }  
	      
	    .matchEventByTeamTableMonth tr:hover {  
	    background: #fbf8e9;  
	    -o-transition: all 0.1s ease-in-out;  
	    -webkit-transition: all 0.1s ease-in-out;  
	    -moz-transition: all 0.1s ease-in-out;  
	    -ms-transition: all 0.1s ease-in-out;  
	    transition: all 0.1s ease-in-out;  
	    }  
	      
	    .matchEventByTeamTableMonth td, .matchEventByTeamTableMonth th {  
	    border-left: 1px solid #ccc;  
	    border-top: 1px solid #ccc;  
	    padding: 6px;  
	    }  
	      
	    .matchEventByTeamTableMonth th {  
	    background-color: #dce9f9;  
	    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
	    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
	    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
	    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
	    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
	    border-top: none;  
	    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
	    }  
	      
	    .matchEventByTeamTableMonth td:first-child, .matchEventByTeamTableMonth th:first-child {  
	    border-left: none;  
	    }  
	      
	    .matchEventByTeamTableMonth th:first-child {  
	    -moz-border-radius: 6px 0 0 0;  
	    -webkit-border-radius: 6px 0 0 0;  
	    border-radius: 6px 0 0 0;  
	    }  
	      
	    .matchEventByTeamTableMonth th:last-child {  
	    -moz-border-radius: 0 6px 0 0;  
	    -webkit-border-radius: 0 6px 0 0;  
	    border-radius: 0 6px 0 0;  
	    }  
	      
	    .matchEventByTeamTableMonth th:only-child{  
	    -moz-border-radius: 6px 6px 0 0;  
	    -webkit-border-radius: 6px 6px 0 0;  
	    border-radius: 6px 6px 0 0;  
	    }  
	      
	    .matchEventByTeamTableMonth tr:last-child td:first-child {  
	    -moz-border-radius: 0 0 0 6px;  
	    -webkit-border-radius: 0 0 0 6px;  
	    border-radius: 0 0 0 6px;  
	    }  
	      
	    .matchEventByTeamTableMonth tr:last-child td:last-child {  
	    -moz-border-radius: 0 0 6px 0;  
	    -webkit-border-radius: 0 0 6px 0;  
	    border-radius: 0 0 6px 0;  
	    } 	
		/**----- 数据区域 样式 end ----- */
		
		
	/**-------------------- 根据比赛的球队，获取相关事件 end --------------------*/
	
/********************************** 比赛事件模块 end **********************************/




