
/**
* 赛程更新下 的  每日更新赛程模块
* author: 高青
* date: 2013-12-12
* version: 0.0.0.1
*/

/* 条件区域 div 样式*/
#conditionSectionID{
	width: 80%;
	height: 40px;
	margin: 20px 50px 10px;
}

/*数据区域 div 样式*/
#dataSectionID{
	width:95%;
	height:460px;
	margin: auto;
}

/*数据区域的 事件 div 样式*/
#dataSection_eventID{
	width:80%;
	height: 28px;
	padding: 10px 20px 5px 15px;
	vertical-align: center;
}

/*内部表格的样式*/
#dataTableID{
	width: 100%;
}

/** 比赛基本信息模块：Start */

/** 内部内容部分 */
#innerContent{
	width: 100%;
	height:80%;
}

/** 内部基本信息部分  */
#innerBasicInfo{
	box-shadow: 5px 5px 7px #888888; 
	margin: 20px auto;
	width: 90%;
	height: 200px;
	background-color: #FAFBFF;
	border: 0px solid #EBEBEB;
	
}

/** 球队领袖部分 */
#innerPlayerLeader{
	box-shadow: 5px 5px 7px #888888; 
	background-color: #FAFBFF;
	margin: 20px auto;
	width: 90%;
	height: 200px;
	border: 0px solid #EBEBEB;
}

/*----------------------*/  
      
    .innerBasicInfoTable td, .innerBasicInfoTable th {  
    padding: 10px;  
    border-bottom: 1px solid #f2f2f2;  
    }  
      
    .innerBasicInfoTable tbody tr:nth-child(even) {  
    background: #f5f5f5;  
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    }  
      
    .innerBasicInfoTable th {  
    text-align: left;  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
    border-bottom: 1px solid #ccc;  
    background-color: #eee;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));  
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);  
    background-image: -moz-linear-gradient(top, #f5f5f5, #eee);  
    background-image: -ms-linear-gradient(top, #f5f5f5, #eee);  
    background-image: -o-linear-gradient(top, #f5f5f5, #eee);  
    background-image: linear-gradient(top, #f5f5f5, #eee);  
    }  
      
    .innerBasicInfoTable th:first-child {  
    -moz-border-radius: 6px 0 0 0;  
    -webkit-border-radius: 6px 0 0 0;  
    border-radius: 6px 0 0 0;  
    }  
      
    .innerBasicInfoTable th:last-child {  
    -moz-border-radius: 0 6px 0 0;  
    -webkit-border-radius: 0 6px 0 0;  
    border-radius: 0 6px 0 0;  
    }  
      
    .innerBasicInfoTable th:only-child{  
    -moz-border-radius: 6px 6px 0 0;  
    -webkit-border-radius: 6px 6px 0 0;  
    border-radius: 6px 6px 0 0;  
    }  
      
    .innerBasicInfoTable tfoot td {  
    border-bottom: 0;  
    border-top: 1px solid #fff;  
    background-color: #f1f1f1;  
    }  
      
    .innerBasicInfoTable tfoot td:first-child {  
    -moz-border-radius: 0 0 0 6px;  
    -webkit-border-radius: 0 0 0 6px;  
    border-radius: 0 0 0 6px;  
    }  
      
    .innerBasicInfoTable tfoot td:last-child {  
    -moz-border-radius: 0 0 6px 0;  
    -webkit-border-radius: 0 0 6px 0;  
    border-radius: 0 0 6px 0;  
    }  
      
    .innerBasicInfoTable tfoot td:only-child{  
    -moz-border-radius: 0 0 6px 6px;  
    -webkit-border-radius: 0 0 6px 6px  
    border-radius: 0 0 6px 6px  
    }  
    
    /** 球队领袖数据部分 */
	.innerPlayerLeaderTable td, .innerPlayerLeaderTable th {  
    padding: 10px;  
    border-bottom: 1px solid #f2f2f2;  
    }  
      
    .innerPlayerLeaderTable tbody tr:nth-child(even) {  
    background: #f5f5f5;  
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    }  
      
    .innerPlayerLeaderTable th {  
    text-align: left;  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
    border-bottom: 1px solid #ccc;  
    background-color: #eee;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));  
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);  
    background-image: -moz-linear-gradient(top, #f5f5f5, #eee);  
    background-image: -ms-linear-gradient(top, #f5f5f5, #eee);  
    background-image: -o-linear-gradient(top, #f5f5f5, #eee);  
    background-image: linear-gradient(top, #f5f5f5, #eee);  
    }  
      
    .innerPlayerLeaderTable th:first-child {  
    -moz-border-radius: 6px 0 0 0;  
    -webkit-border-radius: 6px 0 0 0;  
    border-radius: 6px 0 0 0;  
    }  
      
    .innerPlayerLeaderTable th:last-child {  
    -moz-border-radius: 0 6px 0 0;  
    -webkit-border-radius: 0 6px 0 0;  
    border-radius: 0 6px 0 0;  
    }  
      
    .innerPlayerLeaderTable th:only-child{  
    -moz-border-radius: 6px 6px 0 0;  
    -webkit-border-radius: 6px 6px 0 0;  
    border-radius: 6px 6px 0 0;  
    }  
      
    .innerPlayerLeaderTable tfoot td {  
    border-bottom: 0;  
    border-top: 1px solid #fff;  
    background-color: #f1f1f1;  
    }  
      
    .innerPlayerLeaderTable tfoot td:first-child {  
    -moz-border-radius: 0 0 0 6px;  
    -webkit-border-radius: 0 0 0 6px;  
    border-radius: 0 0 0 6px;  
    }  
      
    .innerPlayerLeaderTable tfoot td:last-child {  
    -moz-border-radius: 0 0 6px 0;  
    -webkit-border-radius: 0 0 6px 0;  
    border-radius: 0 0 6px 0;  
    }  
      
    .innerPlayerLeaderTable tfoot td:only-child{  
    -moz-border-radius: 0 0 6px 6px;  
    -webkit-border-radius: 0 0 6px 6px  
    border-radius: 0 0 6px 6px  
    }  

/** 比赛基本信息模块：End */

/********************************** 球员分析模块 start **********************************/
	/**###################本场比赛球员信息模块 start ##########################*/
      
    .playerPersonalInfo_table {  
    *border-collapse: collapse; /* IE7 and lower */  
    border-spacing: 0;  
    width: 100%;  
    
    border: solid #ccc 1px;  
    -moz-border-radius: 6px;  
    -webkit-border-radius: 6px;  
    border-radius: 6px;  
    -webkit-box-shadow: 1px 2px 2px #888888;  
    -moz-box-shadow: 1px 2px 2px #888888;  
    box-shadow: 1px 2px 2px #888888;  
    }  
      
    .playerPersonalInfo_table tr:hover {  
    background: #fbf8e9;  
    -o-transition: all 0.1s ease-in-out;  
    -webkit-transition: all 0.1s ease-in-out;  
    -moz-transition: all 0.1s ease-in-out;  
    -ms-transition: all 0.1s ease-in-out;  
    transition: all 0.1s ease-in-out;  
    }  
      
    .playerPersonalInfo_table td, .playerPersonalInfo_table th {  
    border-left: 1px solid #ccc;  
    border-top: 1px solid #ccc;  
    padding: 6px;  
    }  
      
    .playerPersonalInfo_table th {  
    background-color: #dce9f9;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    border-top: none;  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
    }  
      
    .playerPersonalInfo_table td:first-child, .playerPersonalInfo_table th:first-child {  
    border-left: none;  
    }  
      
    .playerPersonalInfo_table th:first-child {  
    -moz-border-radius: 6px 0 0 0;  
    -webkit-border-radius: 6px 0 0 0;  
    border-radius: 6px 0 0 0;  
    }  
      
    .playerPersonalInfo_table th:last-child {  
    -moz-border-radius: 0 6px 0 0;  
    -webkit-border-radius: 0 6px 0 0;  
    border-radius: 0 6px 0 0;  
    }  
      
    .playerPersonalInfo_table th:only-child{  
    -moz-border-radius: 6px 6px 0 0;  
    -webkit-border-radius: 6px 6px 0 0;  
    border-radius: 6px 6px 0 0;  
    }  
      
    .playerPersonalInfo_table tr:last-child td:first-child {  
    -moz-border-radius: 0 0 0 6px;  
    -webkit-border-radius: 0 0 0 6px;  
    border-radius: 0 0 0 6px;  
    }  
      
    .playerPersonalInfo_table tr:last-child td:last-child {  
    -moz-border-radius: 0 0 6px 0;  
    -webkit-border-radius: 0 0 6px 0;  
    border-radius: 0 0 6px 0;  
    } 
	/**###################本场比赛球员信息模块 end ##########################*/
	
/********************************** 球员分析模块 end **********************************/


/********************************** 数据分析模块 start **********************************/

	/**-------------------- 比赛球员的数据统计 start --------------------*/
		/**比赛球员的数据统计的外层 div 样式*/
		#dataStatistics_playerData_outer{
			display: none;
		}
		
	    .playerData_table {  
	    *border-collapse: collapse; /* IE7 and lower */  
	    border-spacing: 0;  
	    width: 100%;  
	    
	    border: solid #ccc 1px;  
	    -moz-border-radius: 6px;  
	    -webkit-border-radius: 6px;  
	    border-radius: 6px;  
	    -webkit-box-shadow: 1px 2px 2px #888888;  
	    -moz-box-shadow: 1px 2px 2px #888888;  
	    box-shadow: 1px 2px 2px #888888;  
	    }  
	      
	    .playerData_table tr:hover {  
	    background: #fbf8e9;  
	    -o-transition: all 0.1s ease-in-out;  
	    -webkit-transition: all 0.1s ease-in-out;  
	    -moz-transition: all 0.1s ease-in-out;  
	    -ms-transition: all 0.1s ease-in-out;  
	    transition: all 0.1s ease-in-out;  
	    }  
	      
	    .playerData_table td, .playerData_table th {  
	    border-left: 1px solid #ccc;  
	    border-top: 1px solid #ccc;  
	    padding: 6px;  
	    }  
	      
	    .playerData_table th {  
	    background-color: #dce9f9;  
	    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
	    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
	    background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
	    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
	    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
	    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
	    border-top: none;  
	    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
	    }  
	      
	    .playerData_table td:first-child, .playerData_table th:first-child {  
	    border-left: none;  
	    }  
	      
	    .playerData_table th:first-child {  
	    -moz-border-radius: 6px 0 0 0;  
	    -webkit-border-radius: 6px 0 0 0;  
	    border-radius: 6px 0 0 0;  
	    }  
	      
	    .playerData_table th:last-child {  
	    -moz-border-radius: 0 6px 0 0;  
	    -webkit-border-radius: 0 6px 0 0;  
	    border-radius: 0 6px 0 0;  
	    }  
	      
	    .playerData_table th:only-child{  
	    -moz-border-radius: 6px 6px 0 0;  
	    -webkit-border-radius: 6px 6px 0 0;  
	    border-radius: 6px 6px 0 0;  
	    }  
	      
	    .playerData_table tr:last-child td:first-child {  
	    -moz-border-radius: 0 0 0 6px;  
	    -webkit-border-radius: 0 0 0 6px;  
	    border-radius: 0 0 0 6px;  
	    }  
	      
	    .playerData_table tr:last-child td:last-child {  
	    -moz-border-radius: 0 0 6px 0;  
	    -webkit-border-radius: 0 0 6px 0;  
	    border-radius: 0 0 6px 0;  
	    } 
	/**-------------------- 比赛球员的数据统计 end --------------------*/
	
	
	/**-------------------- 比赛相关的数据统计 start --------------------*/
	/**外层 div 的样式*/
	#dataStatistics_corelativeData_outer{
		display: none;
	}
	
	 .corelativeData_table {  
    *border-collapse: collapse; /* IE7 and lower */  
    border-spacing: 0;  
    width: 100%;  
    
    border: solid #ccc 1px;  
    -moz-border-radius: 6px;  
    -webkit-border-radius: 6px;  
    border-radius: 6px;  
    -webkit-box-shadow: 1px 2px 2px #888888;  
    -moz-box-shadow: 1px 2px 2px #888888;  
    box-shadow: 1px 2px 2px #888888;  
    }  
      
    .corelativeData_table tr:hover {  
    background: #fbf8e9;  
    -o-transition: all 0.1s ease-in-out;  
    -webkit-transition: all 0.1s ease-in-out;  
    -moz-transition: all 0.1s ease-in-out;  
    -ms-transition: all 0.1s ease-in-out;  
    transition: all 0.1s ease-in-out;  
    }  
      
    .corelativeData_table td, .corelativeData_table th {  
    border-left: 1px solid #ccc;  
    border-top: 1px solid #ccc;  
    padding: 6px;  
    }  
      
    .corelativeData_table th {  
    background-color: #dce9f9;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    border-top: none;  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
    }  
      
    .corelativeData_table td:first-child, .corelativeData_table th:first-child {  
    border-left: none;  
    }  
      
    .corelativeData_table th:first-child {  
    -moz-border-radius: 6px 0 0 0;  
    -webkit-border-radius: 6px 0 0 0;  
    border-radius: 6px 0 0 0;  
    }  
      
    .corelativeData_table th:last-child {  
    -moz-border-radius: 0 6px 0 0;  
    -webkit-border-radius: 0 6px 0 0;  
    border-radius: 0 6px 0 0;  
    }  
      
    .corelativeData_table th:only-child{  
    -moz-border-radius: 6px 6px 0 0;  
    -webkit-border-radius: 6px 6px 0 0;  
    border-radius: 6px 6px 0 0;  
    }  
      
    .corelativeData_table tr:last-child td:first-child {  
    -moz-border-radius: 0 0 0 6px;  
    -webkit-border-radius: 0 0 0 6px;  
    border-radius: 0 0 0 6px;  
    }  
      
    .corelativeData_table tr:last-child td:last-child {  
    -moz-border-radius: 0 0 6px 0;  
    -webkit-border-radius: 0 0 6px 0;  
    border-radius: 0 0 6px 0;  
    } 
	/**-------------------- 比赛相关的数据统计 end --------------------*/
	
	
	/**-------------------- 比赛球队汇总数据 start --------------------*/
	/** 外层 div 样式 */
	#dataStatistics_teamGatherData_outer{
		display: none;
	}
	
	.teamGatherData_table {  
    *border-collapse: collapse; /* IE7 and lower */  
    border-spacing: 0;  
    width: 100%;  
    
    border: solid #ccc 1px;  
    -moz-border-radius: 6px;  
    -webkit-border-radius: 6px;  
    border-radius: 6px;  
    -webkit-box-shadow: 1px 2px 2px #888888;  
    -moz-box-shadow: 1px 2px 2px #888888;  
    box-shadow: 1px 2px 2px #888888;  
    }  
      
    .teamGatherData_table tr:hover {  
    background: #fbf8e9;  
    -o-transition: all 0.1s ease-in-out;  
    -webkit-transition: all 0.1s ease-in-out;  
    -moz-transition: all 0.1s ease-in-out;  
    -ms-transition: all 0.1s ease-in-out;  
    transition: all 0.1s ease-in-out;  
    }  
      
    .teamGatherData_table td, .teamGatherData_table th {  
    border-left: 1px solid #ccc;  
    border-top: 1px solid #ccc;  
    padding: 6px;  
    }  
      
    .teamGatherData_table th {  
    background-color: #dce9f9;  
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
    border-top: none;  
    text-shadow: 0 1px 0 rgba(255,255,255,.5);  
    }  
      
    .teamGatherData_table td:first-child, .teamGatherData_table th:first-child {  
    border-left: none;  
    }  
      
    .teamGatherData_table th:first-child {  
    -moz-border-radius: 6px 0 0 0;  
    -webkit-border-radius: 6px 0 0 0;  
    border-radius: 6px 0 0 0;  
    }  
      
    .teamGatherData_table th:last-child {  
    -moz-border-radius: 0 6px 0 0;  
    -webkit-border-radius: 0 6px 0 0;  
    border-radius: 0 6px 0 0;  
    }  
      
    .teamGatherData_table th:only-child{  
    -moz-border-radius: 6px 6px 0 0;  
    -webkit-border-radius: 6px 6px 0 0;  
    border-radius: 6px 6px 0 0;  
    }  
      
    .teamGatherData_table tr:last-child td:first-child {  
    -moz-border-radius: 0 0 0 6px;  
    -webkit-border-radius: 0 0 0 6px;  
    border-radius: 0 0 0 6px;  
    }  
      
    .teamGatherData_table tr:last-child td:last-child {  
    -moz-border-radius: 0 0 6px 0;  
    -webkit-border-radius: 0 0 6px 0;  
    border-radius: 0 0 6px 0;  
    } 
	/**-------------------- 比赛球队汇总数据 end --------------------*/
	
/********************************** 数据分析模块 end **********************************/




