
/*最外层 div 样式 */
#outerDiv{
	width: 90%; 
	height:95%; 
	margin: 10px auto;
	border: 1px solid; 
	border-color: #B3D0EA; 
	background-color: #EDF9F0;
}

/*表单 div 样式*/
#formDiv{
	margin: 10px auto;
}

/*顶部表单列表的 th 样式*/
#myForm table tr th{
	font-size: 15px;
	color: #2BAFF1;
} 

/*表头标语*/
#headTittle{
	width:100%;
	height:30px;
	margin: 10px auto;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #1E90FF;
}

/* 中间分割线样式 */
#horizon{
	margin: 25px auto;
	size: 2px;
	width: 90%;
	color: #C1FDAA;
}

/*更新操作按钮上的层样式*/
#aDiv{
	text-align:center;
	padding:8px
}

/*更新操作超链接样式*/
#aDiv a{
	height: 25px;
	font-size: 24px;
	margin: 0px 2px;
}

/*iframe 的样式*/
#iframe{
	
}

