
/**
* <p> 首页面的 css </p>
* author: 高青 <br />
* date: 2013-12-12 <br />
* version: 0.0.0.1
*/

/*easyui 布局的主区样式*/
#centerID{
	background-color: #EDF9F0; 
	background: url(../images/NBA.jpg) repeat-x;
}

/*easyui 布局内 的外层框架样式*/
#outerMOduleID{
	width:900px;
	height:510px;
}

/*内部的具体模块的 div yang'shi*/
#innerModuleID{
	width:800px;
	height:300px;
	padding: 140px 60px;
}

/*统一定义 li 的样式*/
#ulID li{
	width: 300px;
	height: 100px;
	display: block;
	cursor: pointer;
	float: left;
	margin: 3px 3px;
}

/*下面的 UL 中的 LI 的样式*/
#anotherULID li{
	
}

/*赛程更新模块的样式*/
#nba_index_schedule { 
	background-color: #00E3E3;
}

/*球队信息模块的样式*/
#nba_index_team {
	background-color: #02F78E;
}

/*排行信息模块的样式*/
#nba_index_rank {
	background-color: #00FFFF;
	clear: left;
	width: 300px;
	height: 100px;
	display: block;
	cursor: pointer;
	float: left;
	margin: 3px 3px;
}

/*球员伤情模块的样式*/
#nba_index_injury{
	background-color: #FFCC99;
	width: 300px;
	height: 100px;
	display: block;
	cursor: pointer;
	float: left;
	margin: 3px 3px;
}

/*球员转会模块的样式*/
#nba_index_transaction{
	background-color: #FF9999;
	clear: left;
	width: 300px;
	height: 100px;
	display: block;
	cursor: pointer;
	float: left;
	margin: 3px 3px;
}

/*li 下的 div 层的样式*/
ul li div{
	margin: 30px auto;
}

/*li 下的超链接样式*/
#outerModuleID ul li div a{
	text-decoration: none;
	font-size: 28px;
	font-weight: 100;
	margin: 25px 25px;
}

