/**
* 球员转会列表信息
* author: 高青
* 2014-03-18
*/

/** 球员转会列表的操作按钮区样式 */
#transaction_control{
	width: 95%;
	height: 30px;
	margin: 20px 60px 5px;
}

/** 球员转会列表的数据区样式 */
#transaction_data{
	width: 95%;
	height: 460px;
	margin: 10px auto;
	display: none;
}