/**
* 球员排行信息
* @author 高青
* 2014-03-12
*/

/** 数据更新操作按钮区 div 样式 */
#playerRankInfo_control{
	width: 80%;
	height: 30px;
	margin: 20px 60px 5px;	
}

/** 数据显示区 div 样式 */
#playerRankInfo_data{
	width:95%;
	height:460px;
	margin: 10px 50px 10px;
}

/** 球员 TopN 的数据 div  */
#playerTopNRankInfoTableOuter{
	display: none;
}

/** 球员 TopN 的更新条件区域 */
#playerTopNRankInfoCon{
	width: 95%;
	height: 30px;
	margin: 20px auto 10px;
}

/** 球员 TopN 的内部表格 div 样式 */
#playerTopNRankInfoTableInner{
	display: none;
	width: 95%;
	margin: 10px auto;
}

/** 每日球员排行信息 div  */
#todayRankInfoTableOuter{
	display: none;
}

/** 更多球员排行信息 div  */
#moreRankInfoTableInner{
	display: none;
}

/** *************每日球员排名信息模块  Start ****************** */

/** 篮板 div 样式 */
#reboundsRank{
	display: none;
	margin: 0px auto;
}
/** 表格样式 */
.reboundsRankInfoTable {  
*border-collapse: collapse; /* IE7 and lower */  
border-spacing: 0;  
width: 100%;  

border: solid #ccc 1px;  
-moz-border-radius: 6px;  
-webkit-border-radius: 6px;  
border-radius: 6px;  
-webkit-box-shadow: 1px 2px 2px #888888;  
-moz-box-shadow: 1px 2px 2px #888888;  
box-shadow: 1px 2px 2px #888888;  
}  
  
.reboundsRankInfoTable tr:hover {  
background: #fbf8e9;  
-o-transition: all 0.1s ease-in-out;  
-webkit-transition: all 0.1s ease-in-out;  
-moz-transition: all 0.1s ease-in-out;  
-ms-transition: all 0.1s ease-in-out;  
transition: all 0.1s ease-in-out;  
}  
  
.reboundsRankInfoTable td, .reboundsRankInfoTable th {  
border-left: 1px solid #ccc;  
border-top: 1px solid #ccc;  
padding: 6px;  
}  
  
.reboundsRankInfoTable th {  
background-color: #dce9f9;  
background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
border-top: none;  
text-shadow: 0 1px 0 rgba(255,255,255,.5);  
}  
  
.reboundsRankInfoTable td:first-child, .reboundsRankInfoTable th:first-child {  
border-left: none;  
}  
  
.reboundsRankInfoTable th:first-child {  
-moz-border-radius: 6px 0 0 0;  
-webkit-border-radius: 6px 0 0 0;  
border-radius: 6px 0 0 0;  
}  
  
.reboundsRankInfoTable th:last-child {  
-moz-border-radius: 0 6px 0 0;  
-webkit-border-radius: 0 6px 0 0;  
border-radius: 0 6px 0 0;  
}  
  
.reboundsRankInfoTable th:only-child{  
-moz-border-radius: 6px 6px 0 0;  
-webkit-border-radius: 6px 6px 0 0;  
border-radius: 6px 6px 0 0;  
}  
  
.reboundsRankInfoTable tr:last-child td:first-child {  
-moz-border-radius: 0 0 0 6px;  
-webkit-border-radius: 0 0 0 6px;  
border-radius: 0 0 0 6px;  
}  
  
.reboundsRankInfoTable tr:last-child td:last-child {  
-moz-border-radius: 0 0 6px 0;  
-webkit-border-radius: 0 0 6px 0;  
border-radius: 0 0 6px 0;  
} 


/** 盖帽 div 样式 */
#blockedsRank{
	display: none;
	margin: 0px auto;
}
.blockedsRankInfoTable {  
  *border-collapse: collapse; /* IE7 and lower */  
 border-spacing: 0;  
 width: 100%;  
 
 border: solid #ccc 1px;  
 -moz-border-radius: 6px;  
 -webkit-border-radius: 6px;  
 border-radius: 6px;  
 -webkit-box-shadow: 1px 2px 2px #888888;  
 -moz-box-shadow: 1px 2px 2px #888888;  
 box-shadow: 1px 2px 2px #888888;  
 }  
   
 .blockedsRankInfoTable tr:hover {  
 background: #fbf8e9;  
 -o-transition: all 0.1s ease-in-out;  
 -webkit-transition: all 0.1s ease-in-out;  
 -moz-transition: all 0.1s ease-in-out;  
 -ms-transition: all 0.1s ease-in-out;  
 transition: all 0.1s ease-in-out;  
 }  
   
 .blockedsRankInfoTable td, .blockedsRankInfoTable th {  
 border-left: 1px solid #ccc;  
 border-top: 1px solid #ccc;  
 padding: 6px;  
 }  
   
 .blockedsRankInfoTable th {  
 background-color: #dce9f9;  
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
 background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
 -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
 -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
 box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
 border-top: none;  
 text-shadow: 0 1px 0 rgba(255,255,255,.5);  
 }  
   
 .blockedsRankInfoTable td:first-child, .blockedsRankInfoTable th:first-child {  
 border-left: none;  
 }  
   
 .blockedsRankInfoTable th:first-child {  
 -moz-border-radius: 6px 0 0 0;  
 -webkit-border-radius: 6px 0 0 0;  
 border-radius: 6px 0 0 0;  
 }  
   
 .blockedsRankInfoTable th:last-child {  
 -moz-border-radius: 0 6px 0 0;  
 -webkit-border-radius: 0 6px 0 0;  
 border-radius: 0 6px 0 0;  
 }  
   
 .blockedsRankInfoTable th:only-child{  
 -moz-border-radius: 6px 6px 0 0;  
 -webkit-border-radius: 6px 6px 0 0;  
 border-radius: 6px 6px 0 0;  
 }  
   
 .blockedsRankInfoTable tr:last-child td:first-child {  
 -moz-border-radius: 0 0 0 6px;  
 -webkit-border-radius: 0 0 0 6px;  
 border-radius: 0 0 0 6px;  
 }  
   
 .blockedsRankInfoTable tr:last-child td:last-child {  
 -moz-border-radius: 0 0 6px 0;  
 -webkit-border-radius: 0 0 6px 0;  
 border-radius: 0 0 6px 0;  
 } 

/** 助攻 div 样式 */
#assistsRank{
	display: none;
	margin: 0px auto;
}
.assistsRankInfoTable {  
  *border-collapse: collapse; /* IE7 and lower */  
 border-spacing: 0;  
 width: 100%;  
 
 border: solid #ccc 1px;  
 -moz-border-radius: 6px;  
 -webkit-border-radius: 6px;  
 border-radius: 6px;  
 -webkit-box-shadow: 1px 2px 2px #888888;  
 -moz-box-shadow: 1px 2px 2px #888888;  
 box-shadow: 1px 2px 2px #888888;  
 }  
   
 .assistsRankInfoTable tr:hover {  
 background: #fbf8e9;  
 -o-transition: all 0.1s ease-in-out;  
 -webkit-transition: all 0.1s ease-in-out;  
 -moz-transition: all 0.1s ease-in-out;  
 -ms-transition: all 0.1s ease-in-out;  
 transition: all 0.1s ease-in-out;  
 }  
   
 .assistsRankInfoTable td, .assistsRankInfoTable th {  
 border-left: 1px solid #ccc;  
 border-top: 1px solid #ccc;  
 padding: 6px;  
 }  
   
 .assistsRankInfoTable th {  
 background-color: #dce9f9;  
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
 background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
 -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
 -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
 box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
 border-top: none;  
 text-shadow: 0 1px 0 rgba(255,255,255,.5);  
 }  
   
 .assistsRankInfoTable td:first-child, .assistsRankInfoTable th:first-child {  
 border-left: none;  
 }  
   
 .assistsRankInfoTable th:first-child {  
 -moz-border-radius: 6px 0 0 0;  
 -webkit-border-radius: 6px 0 0 0;  
 border-radius: 6px 0 0 0;  
 }  
   
 .assistsRankInfoTable th:last-child {  
 -moz-border-radius: 0 6px 0 0;  
 -webkit-border-radius: 0 6px 0 0;  
 border-radius: 0 6px 0 0;  
 }  
   
 .assistsRankInfoTable th:only-child{  
 -moz-border-radius: 6px 6px 0 0;  
 -webkit-border-radius: 6px 6px 0 0;  
 border-radius: 6px 6px 0 0;  
 }  
   
 .assistsRankInfoTable tr:last-child td:first-child {  
 -moz-border-radius: 0 0 0 6px;  
 -webkit-border-radius: 0 0 0 6px;  
 border-radius: 0 0 0 6px;  
 }  
   
 .assistsRankInfoTable tr:last-child td:last-child {  
 -moz-border-radius: 0 0 6px 0;  
 -webkit-border-radius: 0 0 6px 0;  
 border-radius: 0 0 6px 0;  
 } 

/** 综合 div 样式 */
#allRank{
	display: none;
	margin: 0px auto;
}
.allRankInfoTable {  
  *border-collapse: collapse; /* IE7 and lower */  
 border-spacing: 0;  
 width: 100%;  
 
 border: solid #ccc 1px;  
 -moz-border-radius: 6px;  
 -webkit-border-radius: 6px;  
 border-radius: 6px;  
 -webkit-box-shadow: 1px 2px 2px #888888;  
 -moz-box-shadow: 1px 2px 2px #888888;  
 box-shadow: 1px 2px 2px #888888;  
 }  
   
 .allRankInfoTable tr:hover {  
 background: #fbf8e9;  
 -o-transition: all 0.1s ease-in-out;  
 -webkit-transition: all 0.1s ease-in-out;  
 -moz-transition: all 0.1s ease-in-out;  
 -ms-transition: all 0.1s ease-in-out;  
 transition: all 0.1s ease-in-out;  
 }  
   
 .allRankInfoTable td, .allRankInfoTable th {  
 border-left: 1px solid #ccc;  
 border-top: 1px solid #ccc;  
 padding: 6px;  
 }  
   
 .allRankInfoTable th {  
 background-color: #dce9f9;  
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
 background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
 -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
 -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
 box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
 border-top: none;  
 text-shadow: 0 1px 0 rgba(255,255,255,.5);  
 }  
   
 .allRankInfoTable td:first-child, .allRankInfoTable th:first-child {  
 border-left: none;  
 }  
   
 .allRankInfoTable th:first-child {  
 -moz-border-radius: 6px 0 0 0;  
 -webkit-border-radius: 6px 0 0 0;  
 border-radius: 6px 0 0 0;  
 }  
   
 .allRankInfoTable th:last-child {  
 -moz-border-radius: 0 6px 0 0;  
 -webkit-border-radius: 0 6px 0 0;  
 border-radius: 0 6px 0 0;  
 }  
   
 .allRankInfoTable th:only-child{  
 -moz-border-radius: 6px 6px 0 0;  
 -webkit-border-radius: 6px 6px 0 0;  
 border-radius: 6px 6px 0 0;  
 }  
   
 .allRankInfoTable tr:last-child td:first-child {  
 -moz-border-radius: 0 0 0 6px;  
 -webkit-border-radius: 0 0 0 6px;  
 border-radius: 0 0 0 6px;  
 }  
   
 .allRankInfoTable tr:last-child td:last-child {  
 -moz-border-radius: 0 0 6px 0;  
 -webkit-border-radius: 0 0 6px 0;  
 border-radius: 0 0 6px 0;  
 } 

/** 得分 div 样式 */
#pointsRank{
	display: none;
	margin: 0px auto;
}
.pointsRankInfoTable {  
  *border-collapse: collapse; /* IE7 and lower */  
 border-spacing: 0;  
 width: 100%;  
 
 border: solid #ccc 1px;  
 -moz-border-radius: 6px;  
 -webkit-border-radius: 6px;  
 border-radius: 6px;  
 -webkit-box-shadow: 1px 2px 2px #888888;  
 -moz-box-shadow: 1px 2px 2px #888888;  
 box-shadow: 1px 2px 2px #888888;  
 }  
   
 .pointsRankInfoTable tr:hover {  
 background: #fbf8e9;  
 -o-transition: all 0.1s ease-in-out;  
 -webkit-transition: all 0.1s ease-in-out;  
 -moz-transition: all 0.1s ease-in-out;  
 -ms-transition: all 0.1s ease-in-out;  
 transition: all 0.1s ease-in-out;  
 }  
   
 .pointsRankInfoTable td, .pointsRankInfoTable th {  
 border-left: 1px solid #ccc;  
 border-top: 1px solid #ccc;  
 padding: 6px;  
 }  
   
 .pointsRankInfoTable th {  
 background-color: #dce9f9;  
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
 background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
 -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
 -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
 box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
 border-top: none;  
 text-shadow: 0 1px 0 rgba(255,255,255,.5);  
 }  
   
 .pointsRankInfoTable td:first-child, .pointsRankInfoTable th:first-child {  
 border-left: none;  
 }  
   
 .pointsRankInfoTable th:first-child {  
 -moz-border-radius: 6px 0 0 0;  
 -webkit-border-radius: 6px 0 0 0;  
 border-radius: 6px 0 0 0;  
 }  
   
 .pointsRankInfoTable th:last-child {  
 -moz-border-radius: 0 6px 0 0;  
 -webkit-border-radius: 0 6px 0 0;  
 border-radius: 0 6px 0 0;  
 }  
   
 .pointsRankInfoTable th:only-child{  
 -moz-border-radius: 6px 6px 0 0;  
 -webkit-border-radius: 6px 6px 0 0;  
 border-radius: 6px 6px 0 0;  
 }  
   
 .pointsRankInfoTable tr:last-child td:first-child {  
 -moz-border-radius: 0 0 0 6px;  
 -webkit-border-radius: 0 0 0 6px;  
 border-radius: 0 0 0 6px;  
 }  
   
 .pointsRankInfoTable tr:last-child td:last-child {  
 -moz-border-radius: 0 0 6px 0;  
 -webkit-border-radius: 0 0 6px 0;  
 border-radius: 0 0 6px 0;  
 } 

/** 三分 div 样式 */
#threePointsRank{
	display: none;
	margin: 0px auto;
}
.threePointsRankInfoTable {  
  *border-collapse: collapse; /* IE7 and lower */  
 border-spacing: 0;  
 width: 100%;  
 
 border: solid #ccc 1px;  
 -moz-border-radius: 6px;  
 -webkit-border-radius: 6px;  
 border-radius: 6px;  
 -webkit-box-shadow: 1px 2px 2px #888888;  
 -moz-box-shadow: 1px 2px 2px #888888;  
 box-shadow: 1px 2px 2px #888888;  
 }  
   
 .threePointsRankInfoTable tr:hover {  
 background: #fbf8e9;  
 -o-transition: all 0.1s ease-in-out;  
 -webkit-transition: all 0.1s ease-in-out;  
 -moz-transition: all 0.1s ease-in-out;  
 -ms-transition: all 0.1s ease-in-out;  
 transition: all 0.1s ease-in-out;  
 }  
   
 .threePointsRankInfoTable td, .threePointsRankInfoTable th {  
 border-left: 1px solid #ccc;  
 border-top: 1px solid #ccc;  
 padding: 6px;  
 }  
   
 .threePointsRankInfoTable th {  
 background-color: #dce9f9;  
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
 background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
 background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
 -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
 -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
 box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
 border-top: none;  
 text-shadow: 0 1px 0 rgba(255,255,255,.5);  
 }  
   
 .threePointsRankInfoTable td:first-child, .threePointsRankInfoTable th:first-child {  
 border-left: none;  
 }  
   
 .threePointsRankInfoTable th:first-child {  
 -moz-border-radius: 6px 0 0 0;  
 -webkit-border-radius: 6px 0 0 0;  
 border-radius: 6px 0 0 0;  
 }  
   
 .threePointsRankInfoTable th:last-child {  
 -moz-border-radius: 0 6px 0 0;  
 -webkit-border-radius: 0 6px 0 0;  
 border-radius: 0 6px 0 0;  
 }  
   
 .threePointsRankInfoTable th:only-child{  
 -moz-border-radius: 6px 6px 0 0;  
 -webkit-border-radius: 6px 6px 0 0;  
 border-radius: 6px 6px 0 0;  
 }  
   
 .threePointsRankInfoTable tr:last-child td:first-child {  
 -moz-border-radius: 0 0 0 6px;  
 -webkit-border-radius: 0 0 0 6px;  
 border-radius: 0 0 0 6px;  
 }  
   
 .threePointsRankInfoTable tr:last-child td:last-child {  
 -moz-border-radius: 0 0 6px 0;  
 -webkit-border-radius: 0 0 6px 0;  
 border-radius: 0 0 6px 0;  
 } 

/** 抢断 div 样式 */
#stealsRank{
	display: none;
	margin: 0px auto;
}
.stealsRankInfoTable {  
  *border-collapse: collapse; /* IE7 and lower */  
border-spacing: 0;  
width: 100%;  

border: solid #ccc 1px;  
-moz-border-radius: 6px;  
-webkit-border-radius: 6px;  
border-radius: 6px;  
-webkit-box-shadow: 1px 2px 2px #888888;  
-moz-box-shadow: 1px 2px 2px #888888;  
box-shadow: 1px 2px 2px #888888;  
}  
  
.stealsRankInfoTable tr:hover {  
background: #fbf8e9;  
-o-transition: all 0.1s ease-in-out;  
-webkit-transition: all 0.1s ease-in-out;  
-moz-transition: all 0.1s ease-in-out;  
-ms-transition: all 0.1s ease-in-out;  
transition: all 0.1s ease-in-out;  
}  
  
.stealsRankInfoTable td, .stealsRankInfoTable th {  
border-left: 1px solid #ccc;  
border-top: 1px solid #ccc;  
padding: 6px;  
}  
  
.stealsRankInfoTable th {  
background-color: #dce9f9;  
background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
border-top: none;  
text-shadow: 0 1px 0 rgba(255,255,255,.5);  
}  
  
.stealsRankInfoTable td:first-child, .stealsRankInfoTable th:first-child {  
border-left: none;  
}  
  
.stealsRankInfoTable th:first-child {  
-moz-border-radius: 6px 0 0 0;  
-webkit-border-radius: 6px 0 0 0;  
border-radius: 6px 0 0 0;  
}  
  
.stealsRankInfoTable th:last-child {  
-moz-border-radius: 0 6px 0 0;  
-webkit-border-radius: 0 6px 0 0;  
border-radius: 0 6px 0 0;  
}  
  
.stealsRankInfoTable th:only-child{  
-moz-border-radius: 6px 6px 0 0;  
-webkit-border-radius: 6px 6px 0 0;  
border-radius: 6px 6px 0 0;  
}  
  
.stealsRankInfoTable tr:last-child td:first-child {  
-moz-border-radius: 0 0 0 6px;  
-webkit-border-radius: 0 0 0 6px;  
border-radius: 0 0 0 6px;  
}  
  
.stealsRankInfoTable tr:last-child td:last-child {  
-moz-border-radius: 0 0 6px 0;  
-webkit-border-radius: 0 0 6px 0;  
border-radius: 0 0 6px 0;  
}

/** 折叠面面板的外部 div 样式 */
#reboundsRankOuter{
	margin: 20px auto;
	display: none;
}
#blockedsRankOuter{
	margin: 20px auto;
	display: none;
}
#assistsRankOuter{
	margin: 20px auto;
	display: none;
}
#allRankOuter{
	margin: 20px auto;
	display: none;
}
#pointsRankOuter{
	margin: 20px auto;
	display: none;
}
#threePointsRankOuter{
	margin: 20px auto;
	display: none;
}
#stealsRankOuter{
	margin: 20px auto;
	display: none;
}

/** *************每日球员排名信息模块  End ****************** */
