/**
* 球员伤情列表样式
* author: 高青
* 2014-03-17
*/

/** 球员伤情列表的操作按钮区样式 */
#injury_control{
	width: 95%;
	height: 30px;
	margin: 20px 60px 5px;
}

/** 球员伤情列表的数据区样式 */
#injury_data{
	width: 95%;
	height: 460px;
	margin: 10px auto;
	display: none;
}